.data-page {
    padding: 1rem;
    flex: 1;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.data-page-header {
    padding-bottom: 1rem;
}

.data-page-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    width: 100%;
    height: 100%;
    text-align: center;
}


.graph-container {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    background-color: rgb(204, 239, 255);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.table-container {
    display: inline-block;
    width: 100%;
}
.date-table {
    display: inline-block;
    width: 100%;
}
div#react-confirm-alert div.react-confirm-alert-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.add-row-button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0.5rem;
}
.add-row-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../../images/plus_50.png");
    background-repeat: no-repeat;
    background-size: auto;
}
.add-row-button:hover {
    opacity: 0.6;
}
.add-row-button-container.hidden {
    display: none;
}
.add-row-button.hidden {
    display: none;
}