.data-page {
    padding: 1rem;
    flex: 1 1 auto;
    color: #FFF;
}

.data-page-header {
    
}

.data-page-body {
    
}

.graph-container {
    
}

.table-container {
    
}

.data-page-button {
    
}